<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电影详情</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2 style="text-align: center;font-size: 26px">电影详情</h2>
<div class="searchResults">
    <div class="movie-info" th:each="movie : ${movies}">
        < img th:src="/img/"} alt="电影海报">
        <h2 th:text="${movie.moviename}"></h2>
        <p style="font-size: 20px;font-weight: 800" >导演:</p >
        <p style="font-size: 20px;font-weight: 800">主演:</p >
        <p style="font-size: 18px;font-weight: 600"></p >
        <p style="color: gold;font-weight: 800" >评分:</p >
    </div>
</div>
返回主页
</body>
</html>