<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>No Search Results</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }

    h2 {
      font-size: 26px;
    }

    p {
      font-size: 18px;
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body>
<h2>未找到相关电影，请检查输入是否正确！</h2>
<p>No movies found for the keyword.</p>
<a href="index" style="display: block; text-align: center;margin-top:-150px;font-size: 22px;text-decoration: none;">返回主页</a>
</body>
</html>